<div class="container">
  <h1>Liste des mangas</h1>
  <div class="card-container">
    <div class="card" *ngFor="let manga of mangas">
      <a [routerLink]="['/detail-manga', manga.idmanga]" class="card-link">
        <img [src]="'http://localhost:8000/' + manga.cover" alt="{{ manga.title }}" *ngIf="manga.cover" class="card-img">
        <h2 class="card-title">{{ manga.title }}</h2>
      </a>
      <div class="card-content">
        <p><strong>Auteur :</strong> {{ manga.idauthor }}</p>
        <div class="wrapper-rating">
          <span [class.filled]="manga.rating >= 1">&#9733;</span>
          <span [class.filled]="manga.rating >= 2">&#9733;</span>
          <span [class.filled]="manga.rating >= 3">&#9733;</span>
          <span [class.filled]="manga.rating >= 4">&#9733;</span>
          <span [class.filled]="manga.rating >= 5">&#9733;</span>
        </div>
      </div>
    </div>
  </div>
</div>





